.table-member-content .datatable-header{
    display: flex;
}
.table-member-content .dataTables_info{
    width: 50%;
    text-align: right;
}
.table-member-content .dataTables_paginate {
    width: 40%;
    float: none;
    margin:0px;
    text-align: left;
}
.table-member-content .dataTables_paginate.paging_simple .paginate_button {
    padding: 3px;
    font-size: 22px;
    display: initial;
}
.table-member-content .dataTables_paginate .previous {
    margin-left: 10px!important;
}
.table-member-content .icon-circle-right2,.icon-circle-left2 {
    font-size:22px!important;
}
.zoom {
    position: fixed;
    top: 410px;
    right: 24px;
    height: 70px;
}
.zoom-menu {
    display: grid;
    position: absolute;
    right: -12px;
    left: auto;
    top: 135%;
    transform: translateY(-50%);
    height: 100%;
    width: 500px;
    list-style: none;
    text-align: right;
}
.zoom-menu li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}
.scale-transition.scale-out {
    transform: scale(0);
    transition: transform 0.2s !important;
}
.zoom-btn-person {
    background-color: #ffffff;
}
.zoom-fab {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    background-color: #fe7701;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    transition: 0.2s ease-out;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 20%);
    cursor: pointer;
    color: #FFF;
}
.zoom-btn-report {
    background-color: #ffffff;
}
.icon-forward, .icon-back {
    color: green;
    font-size: 24px;
}
.icon-reply {
    color: red;
    font-size: 24px;
}
.zoom-btn-tangram {
    background-color: #ffffff;
}
.zoom-btn-doc {
    background-color: #ffffff;
}
.zoom-btn-person {
    background-color: #ffffff;
}
.datatable-header {
     padding: 0px;
}
.select2-search--dropdown:after {
    content: "";
}
.select-full .select2-container{
    width:100%!important;
}
.overlay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(255,255,255,0.8) url("/public/img/loadding.gif") center no-repeat;
}
/* Turn off scrollbar when body element has the loading class */
body.loading{
    overflow: hidden;   
}
/* Make spinner image visible when body element has the loading class */
body.loading .overlay{
    display: block;
}
