.top-header-left{
    float:left;
    width:80%;
    line-height: 42px;
}
.top-header-left p{
    margin-bottom: 0px;
}
.top-header-right{
    float:right;
    width:20%;
}
.nav-header{
    line-height: 42px!important;
}
.bottom-header-left{
    width:20%;
    float:left;
}
.bottom-header-right{
    float:right;
    display: flex;
}
.bottom-header-right .form-group{
    display:inline-flex;
    margin: 0px;
}
.top-header{
    min-height: 42px;
}
.bottom-header{
    min-height: 75px;
}
.mr10{
    margin-right:10px;
}
.logo-header{
    line-height: 75px;
}
.btn-color{
    background: #ff7900;
    color:#fff;
    border:1px solid #fe7702;
}
.slider{
    max-height: 500px;
    background-size:cover;
}
.slide-member{
    position: absolute;
    top: 18%;
    right: 14%;
    line-height: 55px;
    width:38%;
}
.table-slider td{
    padding:0 20px;
    font-weight: 400;
    color: black;
    font-size: 16px;
}
.table-slider td span{
    padding: 5px 9px;
    border-radius: 50%;
    background: #333;
    color: #fff;
}
.table-slider td span.active{
    padding: 5px 9px;
    border-radius: 50%;
    background: #fd7700;
    color: #fff;
}
.table-slider td.active{
    color: #fd7700;
}
.table-slider th{
    padding:0 20px;
    color: black;
}
.slide-member h5{
    margin-left:15px;
    color: black;
}
.owl-dots .owl-dot span {
    background: #969ba0;
}
.owl-dot.active span{
    background:#fd7700;
}
.slider-carousel .owl-dots{
    margin-left: 20px;
}
.content-section h5{
    border-bottom: 2px solid;
}
.owl-carousel-spotlight .owl_item_review .review_h {
    visibility: visible;
    opacity: 1;
    bottom: 0;
    background: rgba(0, 168, 255, 0.9);
}
.gs-carousel .owl-dots{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}
.gs-carousel .owl-dots button:first-child{
    margin-left: 10px;
}
.footer{
    background:#fff;
    color:#333;
}
.footer h6{
    background: #333;
    color: #fff;
    padding: 5px 10px;
    border-bottom:1px solid #333;
}
.footer .nav .nav-link {
    border-bottom:1px solid #333;
    margin: 0 15px;
    padding: 6px 0;
}
.bottom-footer-left{
    width:30%;
    float:left;
}
.bottom-footer-right{
    text-align: center;
}
.footer{
    padding-bottom:0px!important;
    padding-top:0px!important;
}
.bottom-footer{
    height: 65px;
    line-height: 65px;
    border-top:2px solid #fd7700;
}
.top-footer{
    height: 312px;
    background-image: url('/public/assets2/img/footer1.jpg');
    background-size: cover;
    background-position: bottom;
}
.footer{
    border-top:0px;
}
.button-create{
    display: flex;
    height: 48px;
    margin: 16px 0;
}
.button-create a:first-child{
    margin: 0 auto;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
    -webkit-font-smoothing: antialiased;
    font-family: 'Google Sans', Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: 22px;
    letter-spacing: .25px;
    -webkit-align-items: center;
    align-items: center;
    background-color: #fff;
    background-image: none;
    -webkit-border-radius: 24px;
    border-radius: 24px;
    color: #3c4043;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: inline-flex;
    font-weight: 500;
    height: 48px;
    min-width: 56px;
    overflow: hidden;
    padding: 0 24px 0 0;
    text-transform: none;
}
.button-create a:first-child i{
    min-width: 56px;
    font-size: 25px;
    text-align: center;
    color:#fd7700;
}
.nav-pills a{
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    height: 32px;
    padding: 0 12px 0 26px;
    -webkit-transition: margin .15s cubic-bezier(0.4,0.0,0.2,1),padding .15s cubic-bezier(0.4,0.0,0.2,1);
    transition: margin .15s cubic-bezier(0.4,0.0,0.2,1),padding .15s cubic-bezier(0.4,0.0,0.2,1);
}
.nav-pills a.active{
    background-color: #fe7501!important;
    color: #ffffff!important;
    border-radius: 0 16px 16px 0;
}
.nav-pills a span{
    position: absolute;
    right: 50px;
}
.nav-pills a img{
    padding: 0 18px 0 26px;
}
.orange{
    color:#fd7700!important;
}
.text-sidebar{
    padding-left: 40px;
}
.text-sidebar ul li span:last-child{
    position: absolute;
    right: 18px;
}
.top-left-sidebar ul li{
    display: inline-block;
    padding:0 10px;
    top:20px;
}
.bottom-header-right ul{
    position: absolute;
    right:30px;
    padding-bottom: 42px;
    
}
.bottom-header-right ul li{
    display: inline-block;
    padding:10px;
}
.table-content tr{
    padding-bottom: 10px;
    padding-top: 10px;
    -webkit-box-shadow: inset 0 -1px 0 0 rgba(100,121,143,0.122); 
    box-shadow: inset 0 -1px 0 0 rgba(100,121,143,0.122);
    position: relative;
    background: #fff;
    color: #202124;
}
.table-content tr td:first-child{
    padding-left: 29px;
    width:90px;
}
.bottom-header-right .input-search{
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url(/public/assets2/img/searchicon.png);
    background-position: 9px 8px;
    background-repeat: no-repeat;
    padding: 11px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    height: 40px;
    border-radius: 22px;
}
.ul-notification{
    position:absolute;
    right: 168px!important;
    top: 14px;
}
.ul-notification li a i{
    font-size: 24px;
    color:#fff;
}
.form-create{
    border: 1px solid #fe7702;
    padding: 35px;
}
.btn-submit{
    background: #fd7700;
    height: 45px;
    font-size: 16px;
}
fieldset {
    border: 1px solid #fd7802;
    padding: 18px;
    border-radius: 5px;
}
legend {
    width: auto;
    margin-bottom: 0px;
}
fieldset p span{
    float: right;
}
.top-user{
    width:100%;
    margin-left: 32px;
}
.top-user tbody tr{
    margin-bottom: 1 rem;
}
.top-user tbody tr td p{
    margin-bottom: 14px;
}
.table-member thead tr th{
    vertical-align: middle;
}
.table-content a span{
    color:#333;
}
input{
    height: calc(2.25rem + 2px)!important;
}
#yourBtn {
    position: relative;
    top: 170px;
    font-family: calibri;
    width: 149px;
    right: 1px;
    padding: 4px;
    -moz-border-radius: 5px;
    border: 1px solid #BBB;
    text-align: center;
    background-color: #DDD;
    cursor: pointer;
}
.image-avatar{
    height: 171px;
    background-size: cover;
    background-size: 100% 100%;
    border: 1px solid;
}
#upload_excel{
    position: relative;
    top: 0px;
    font-family: calibri;
    width: 149px;
    right: 1px;
    padding: 16px 0px;
    -moz-border-radius: 5px;
    border: 1px solid #BBB;
    text-align: center;
    background-color: #DDD;
    cursor: pointer;
    width: 25%;
    border-radius: 50%;
    background: #ffa500;
    color: #090909;
    border: 10px solid #d88f07;
    padding: 16px 0px;
    font-size: 16px;
}
.table-member-content  tr td:first-child {
    padding-left: 12px;
}
.list-member{
    background: #ffdab9;
    padding: 10px;
    border-radius: 6px 6px 0px 0;
}
.list-member i{
    font-size: 30px;
    color: #fe7701;
}
.list-member-remove{
    background: #ffdab9;
    padding: 10px;
    border-radius: 6px 6px 0px 0;
}
.list-member-remove i{
    font-size: 30px;
    color: #fe7701;
}
.action-member{
    padding-top:14px;
    margin-bottom: 0px;
}
#page_member{
    padding-top:15px;
    padding-right:10px;
    margin-bottom: 5px;
    padding-left: 200px;
}
#search_member{
    display: contents;
}
.pd0{
    padding:0px;
}
.select2-container .select2-selection--single {
    height:calc(2.25rem + 2px)!important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: calc(2.25rem + 2px)!important;
}
.select2-container--default .select2-selection--single .select2-selection__clear {
    height: 21px!important;
    margin-right: 30px!important;
}
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #e9ecef!important;
    border-radius: 0.25rem!important;
}
label {
    font-size: 14px!important;
}
.form-check-input {
    margin-top: -3px;
}
#page_project{
    padding-top: 15px;
    padding-right: 10px;
    margin-bottom: 5px;
}
#log_member{
    top:28%!important;
    left: -120px!important;
    width: 300px;
    background: #fff;
}
.dropdown #dropdownMenuLink::after {
    margin-left: 6px;
    font-size: 18px;
    padding-top: -31px;
    line-height: 25px;
    color: #fff;
}
.content-log-member{
    padding: 0px 30px;
}
.info-member-log p {
    font-size:14px;
}
.fl50{
    width: 45%;
    float:left;
}
.info-member-log{
    padding:0 10px;
}
.info-member-log p{
    margin-bottom: 0px;
    display: flex;
}
.button-member-log a{
    border: 1px solid;
    border-radius: 22px;
    color: #333;
    margin: 6px 0px;
    background: #f5f7f7;
}
body{
    font-family: "Roboto", sans-serif;
}
.btn {
    letter-spacing: 0.5px;
    text-transform: none; 
    font-weight: 600;
    font-size: 12px!important;
}
.submit-reset-password{
    background: orange;
    color: #fff;
    border-radius: 4px;
    border: none;
    box-shadow: 1px 1px 1px #4c4c4c;
}
.submit-reset-password:focus{
    border: none;
}
.invalid-feedback {
    display: block;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}
.table-content tr {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.middle{
    vertical-align: middle!important;
}
.fillter-project ul{
    list-style: none;
}
.fillter-project ul li{
    padding: 0 20px;
    text-decoration: underline;
    border-right: 1px solid #333;
    font-size:18px;
    display: inline-block;
    color: #333;
}
.fillter-project ul li:last-child{
    border-right:none;
}
.box-choose{
    padding: 16px 20px;
    border: 1px solid;
    box-shadow: 3px 3px #fd7600c2;
}
.go-box{
    padding: 4px 16px;
    float: right;
    margin-right: -15px;
    margin-top: 5px;
    color: #fff;
    background: #333;
    border-radius: 3px;
}
.go-box:hover{
    color:#fff;
}
.fillter-project{
    margin-top:20px;
}
.underline{
    text-decoration: underline;
}
.fillter-project ul li a{
    color:#333;
}
.fillter-project ul li a:hover{
    color:#333;
}
.checkbox-action-project{
    width:20px;
    height:20px;
    bottom:4px;
    right:11px;
    position:absolute;
}
.notification-member p{
    margin:0px;
}
.table-approved tbody tr td{
    padding:0px 8px;
}
.ul-action-project-view li{
    display: inline-block;
    padding: 0 10px;
    top: 20px;
}
.ul-action-project-view{
    padding-top: 14px;
    padding-left: 0px;
}
.ul-action-project-view li:first-child{
    padding-left: 7px;
}
.ul-action-project-view li:first-child a{
    padding: 15px 30px;
    background: #bfbfbf;
    color: #333;
}
.icon-reply{
    color:red;
    font-size: 24px;
}
.icon-forward, .icon-back{
    color:green;
    font-size: 24px;
}
.submit-return-project{
    background: red;
    color: #fff;
    border: none;
    padding: 8px 30px;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.dataTables_length .select2-container {
    width: 50%!important;
}
.dataTables_length {
    width: 140px;
}
.dataTables_length>label {
    width: 100%;
    display: inline-flex;
}
.button-group .btn-submit {
    height:35px;
}
.table th, .table td {
    vertical-align: middle;
}
.table td {
    padding: 10px;
}
.select2-selection--single .select2-selection__clear:after {
    display:none;
}
.dropdown-content-header {
    border-bottom: 1px solid #dddfe2;
    padding-top: 10px!important;
    padding-bottom: 10px!important;
}
.dropdown-content-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border-top-left-radius: .125rem;
    border-top-right-radius: .125rem;
}
.font-weight-semibold{
    line-height: 11px;
    font-size: 12px;
    font-weight: 700;
    color: #333;
}
.media-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}
.media-body {
    -ms-flex: 1;
    flex: 1;
}
.media-title {
    margin-bottom: .125rem;
}
.font-size-sm {
    font-size: .75rem;
}
.text-muted {
    color: #999!important;
}
.black {
    color: black;
}
.bottom-header-right .list-notification{
    position:relative!important;
    right: 0px !important;
}
.media-body{
    line-height: 24px;
}
.float-right {
    float: right!important;
}
.list-notification li{
    width:100%;
}
#list-message li{
    width:100%;
}
.bottom-header-right .list-notification li {
    padding: 0 10px 4px 21px;
    border-bottom: 1px solid #f4f4f4;
}
.bottom-header-right #list-message li {
    padding: 0 10px 4px 21px;
    border-bottom: 1px solid #f4f4f4;
}
.list-notification{
    line-height: 38px;
}
#list-message{
    line-height: 38px;
    width: 100%;
    right:0px;
    position: relative;
}
.color-blue{
    color:#2196f3;
}
.font-small{
    font-size:13px;
}
.dropdown-scrollable {
    max-height: 340px;
    overflow-y: auto;
    position: relative;
}
.dropdown-scrollable::-webkit-scrollbar {
    width: 6px;
    background-color: #b3b2b2;
} 
.media:hover{
    background:#f0f0f0;
}
.mr-3, .mx-3 {
    margin-right: 1.25rem!important;
}
.rounded-circle {
    object-fit: cover;
}
.rounded-circle {
    border-radius: 50%!important;
    width: 37px;
}
.content-mess {
    padding: 10px!important;
    border-bottom: 1px solid #dddfe2;
}
.message{
    display: flex;
}
.chat-box.show {
    transform: translate(0) scale(1);
    opacity: 1;
    visibility: visible;
    position: fixed;
    right: 30px;
}
.chat-box {
    background: #fbfbfb none repeat scroll 0 0;
    border-radius: 3px;
    bottom: -2px;
    right: 100%;
    width: 300px;
    z-index: 9999999;
    transform: translate(40px) scale(0);
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s linear 0s;
    border: 1px solid #e1e8ed;
    text-align: left;
    box-shadow: -15px -15px 20px rgba(0, 0, 0, 0.2);
    right: 0;
    bottom: 0;
    position: absolute;
}
.chat-head {
    color: #fff;
    display: inline-block;
    padding: 10px 15px 10px 15px;
    position: relative;
    width: 100%;
    background: #8c6ad2;
}
.chat-head > h6 {
    display: inline-block;
    font-weight: 500;
    margin: 0;
    vertical-align: top;
    background: none;
    border: none;
}
.more {
    float: right;
    position: relative;
}
.more > span {
    margin-left: 15px;
    cursor: pointer;
    position: relative;
}
.chat-list {
    display: inline-block;
    padding: 15px 0px 0px;
    position: relative;
    width: 100%;
}
.chat-list > ul {
    margin: 0;
    padding-left: 0;
    height: 290px;
    overflow: hidden;
    position: relative;
    padding-right: 8px;
}
.ps-container>.ps-scrollbar-x-rail {
    display: none;
    position: absolute;
    opacity: 0;
    -webkit-transition: background-color .2s linear,opacity .2s linear;
    -o-transition: background-color .2s linear,opacity .2s linear;
    -moz-transition: background-color .2s linear,opacity .2s linear;
    transition: background-color .2s linear,opacity .2s linear;
    bottom: 0;
    height: 15px;
}
.ps-container.ps-active-x>.ps-scrollbar-x-rail, .ps-container.ps-active-y>.ps-scrollbar-y-rail {
    display: block;
    background-color: transparent;
}
.ps-container>.ps-scrollbar-y-rail {
    display: none;
    position: absolute;
    opacity: 0;
    -webkit-transition: background-color .2s linear,opacity .2s linear;
    -o-transition: background-color .2s linear,opacity .2s linear;
    -moz-transition: background-color .2s linear,opacity .2s linear;
    transition: background-color .2s linear,opacity .2s linear;
    right: 0;
    width: 15px;
}
.text-box {
    display: inline-block;
    font-size: 13px;
    width: 100%;
    position: relative;
    vertical-align: top;
    margin: 0px;
    display: flex;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 4px 8px;
    cursor: pointer;
    margin: 0px;
}
input[type="file"] {
    display: none;
}
.text-box > textarea {
    font-size: 14px;
    height: 50px;
    line-height: 27px;
    border-radius: 0;
    background: #f0f0f0;
}
textarea {
    border: 1px solid #eeeeee;
    border-radius: 6px 6px 0 0;
    padding: 10px;
    width: 100%;
    border-bottom: 0;
}
.fa-cloud-upload-alt {
    font-size: 20px!important;
    margin-top: 10px;
}
.chat-list > ul > li {
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
    padding: 0px 10px;
}
.chat-list > ul li.me .chat-thumb {
    float: right;
}
.chat-thumb {
    display: inline-block;
    vertical-align: top;
    width: 28px;
}
.ps-container {
    -ms-touch-action: auto;
    touch-action: auto;
    overflow: auto!important;
    -ms-overflow-style: none;
}
.chat-thumb > img {
    border-radius: 100%;
}
.avatar-img {
    width: 30px;
}
.notification-event {
    display: inline-block;
    margin-left: 8px;
    vertical-align: top;
    width: 82%;
}
.me .notification-event {
    display: inline-block;
    margin-right: 8px;
    margin-left: 0px;
    vertical-align: top;
    width: 84%;
    text-align: right;
}
.chat-message-item {
    background: #f0f4f9 none repeat scroll 0 0;
    border-radius: 7px;
    display: inline-block;
    font-size: 14px;
    padding: 5px;
    color: #333;
    word-break: break-all;
}
.chat-list > ul li.me .chat-message-item {
    background: rgba(202, 239, 142, 0.55) none repeat scroll 0 0;
}
.notification-date {
    color: rgb(153, 153, 153);
    display: inline-block;
    font-size: 10px;
    width: 100%;
}
.media-body .black{
    font-size:14px;
}
#count-notification {
    position: absolute;
    top: -20px;
    right: 0px;
    font-size: 12px;
    padding: 3px 5px;
    border-radius: 16px;
    background: #ff7043;
    margin-left: 8px;
    color: #fff;
}
#count-message{
    position: absolute;
    top: -20px;
    right: 0px;
    font-size: 12px;
    padding: 3px 5px;
    border-radius: 16px;
    background: #ff7043;
    margin-left: 8px;
    color: #fff;
}
.seen-chat{
    position:relative;
}
.bg-warning-400 {
    background-color: #ff7043;
}
.notification-menu{
    position:relative;
}
.bottom-header-right button{
    height: 39px;
    line-height: 21px;
    font-size: 16px!important;
    border-radius: 4px;
}
.bottom-header-right .form-control{
   font-size:14px;
}
.over-text{
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    height: 50px;
    text-align: center;
    color:#fff;
    z-index:10!important;
}
.over-text h5{
    color:#fff;
    border:none;
    line-height: 5px;
    font-size:22px;
}
.overlay-gradient {
    background: linear-gradient(to bottom, rgba(0,0,0,0.0) 0%, rgba(0,0,0,0.0) 20%,rgba(0,0,0,0) 40%,rgb(0 0 0 / 0%) 80%,rgb(0 0 0 / 85%) 100%);
}
.overlay, .overlay-image {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 9;
    background-size: cover;
    pointer-events: none;
}
.top-header-right .dropdown-menu{
    padding:0px;
}
.inhert span{
   display: block;
}
.inhert{
    width:140px;
}
.dropdown-toggle::after {
    color: #fe7701;
}
@media (min-width: 992px){
    .content-section {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .modal-dialog {
        max-width: 750px;
    }
    #modal_reset_password .modal-dialog{
        max-width: 420px;
    }
}
@media (min-width:1350px) and (max-width: 1600px){
.slide-member {
    position: absolute;
    top: 9%;
    right: 0%;
    line-height: 42px;
    width: 50%;
}
.ul-notification {
    position: absolute;
    right: 80px!important;
    top: 34px;
}
.nav-pills .nav-link {
    padding-left: 0px;
    padding-right: 0px;
}
.nav-pills a img {
    padding: 0 18px 0 15px;
}
.nav-pills a span {
    position: absolute;
    right: 35px;
}
.text-sidebar {
    padding-left: 0px;
}
.text-sidebar ul{
    padding-left:10px;
}
}
#unapproved{
    position: absolute;
    top: 19px;
    right: -1px;
    font-size: 12px;
    padding: 3px 5px;
    border-radius: 16px;
    background: #ff7043;
    margin-left: 8px;
    color: #fff;
}
.text-sidebar ul{
    padding-left: 19px;
}
.file-preview {
    border: 1px solid #ddd;
    width: 100%;
    margin-bottom: 1.25rem;
    position: relative;
    text-align: center;
    border-radius: .1875rem;
}
.file-drop-zone {
    border: 1px dashed #ddd;
    height: 100%;
    vertical-align: middle;
    margin: .5rem;
    padding: .5rem;
    border-radius: .1875rem;
}
.file-drop-zone {
    min-height: 275px!important;
    display: flow-root;
    position: relative;
}
.file-preview-frame {
    margin: .5rem;
    margin-right: 0;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: .1875rem;
}
.file-preview-frame {
    margin: 8px;
    margin-right: 0;
    height: 160px;
    display: inline-table;
    float: left;
    vertical-align: middle;
}
.file-preview-frame, .file-preview-image, .file-preview-other {
    height: 160px;
    vertical-align: middle;
}
.file-preview-image {
    border-top-left-radius: .125rem;
    border-top-right-radius: .125rem;
}
.file-thumbnail-footer {
    position: relative;
    background-color: #fafafa;
    border-top: 1px solid #ddd;
}
.file-footer-caption {
    padding: 5px;
}
.file-footer-caption {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    padding: .75rem;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    margin-left: auto;
    margin-right: auto;
}
.file-caption-info {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
}
.file-actions {
    margin-top: 0px!important;
    border-top: 1px solid #eee;
}
.file-footer-buttons {
    float: right;
}
.file-footer-buttons button {
    padding: .625rem;
    background-color: transparent;
    border: 0;
    line-height: 1;
    cursor: pointer;
    opacity: .6;
    outline: 0;
    transition: opacity ease-in-out .15s;
}

.file-button{
    display:block!important;
}
.file-preview-frame .kv-file-content{
    position: relative;
    height: 10rem;
}
.file-preview-frame {
    margin: 8px;
    margin-right: 0;
    height: 160px;
    display: inline-table;
    float: left;
    vertical-align: middle;
}
.file-drop-zone {
    border: 1px dashed #ddd;
    height: 100%;
    vertical-align: middle;
    margin: .5rem;
    padding: .5rem;
    border-radius: .1875rem;
}
.file-preview {
    border: 1px solid #ddd;
    width: 100%;
    margin-bottom: 1.25rem;
    position: relative;
    text-align: center;
    border-radius: .1875rem;
    display: inline-table;
}
.file-preview-frame .kv-file-content {
    position: relative;
    height: 10rem;
}
.file-preview-frame, .file-preview-image, .file-preview-other {
    height: 160px;
    vertical-align: middle;
}
.file-thumbnail-footer {
    position: relative;
    background-color: #fafafa;
    border-top: 1px solid #ddd;
}
.file-footer-caption {
    padding: 5px;
}
.file-footer-caption {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    padding: .15rem;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    margin-left: auto;
    margin-right: auto;
}
.file-caption-info {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 205px;
}
.file-actions {
    margin-top: 0px!important;
    border-top: 1px solid #eee;
}
.file-footer-buttons {
    float: right;
}
.file-footer-buttons button {
    padding: .625rem;
    background-color: transparent;
    border: 0;
    line-height: 1;
    cursor: pointer;
    opacity: .6;
    outline: 0;
    transition: opacity ease-in-out .15s;
}
.btn-file{
    line-height:28px;
}
.div-choose{
    width: 100%;
    display: flex;
    color: #333;
}
.categorie-search-box form {
    color: #a9a9a9;
    height: 38px;
    padding: 0;
    position: relative;
    width: 100%;
}
.categorie-search-box input {
    background: white none repeat scroll 0 0;
    border: 2px solid #fe7701;
    border-radius: 4px;
    color: #a9a9a9;
    font-size: 13px;
    height: 38px;
    padding: 0 226px 0 16px;
    width: 100%;
}
.categorie-search-box .form-group {
    align-items: center;
    background: transparent none repeat scroll 0 0;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    height: 38px;
    margin: 0;
    position: absolute;
    right: 100px;
    top: 0;
    width: 110px;
}
.nice-select .current {
    display: block;
    overflow: hidden;
    width: 100%;
}
.categorie-search-box .nice-select .list {
    height: auto;
    overflow-y: auto;
}
.categorie-search-box button {
    background: #fe7701 none repeat scroll 0 0;
    border: medium none;
    border-radius: 0 3px 3px 0;
    color: white;
    font-size: 25px;
    height: 38px;
    line-height: 38px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: all 300ms ease-in 0s;
    width: 100px;
}
.nice-select {
  -webkit-tap-highlight-color: transparent;
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #e8e8e8;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  height: 42px;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  width: auto; }
  .nice-select:hover {
    border-color: #dbdbdb; }
  .nice-select:active, .nice-select.open, .nice-select:focus {
    border-color: #999; }
  .nice-select:after {
    border-bottom: 2px solid #999;
    border-right: 2px solid #999;
    content: '';
    display: block;
    height: 5px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%;
    -webkit-transform-origin: 66% 66%;
        -ms-transform-origin: 66% 66%;
            transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    width: 5px; }
  .nice-select.open:after {
    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg); }
  .nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale(1) translateY(0);
        -ms-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0); }
  .nice-select.disabled {
    border-color: #ededed;
    color: #999;
    pointer-events: none; }
    .nice-select.disabled:after {
      border-color: #cccccc; }
  .nice-select.wide {
    width: 100%; }
    .nice-select.wide .list {
      left: 0 !important;
      right: 0 !important; }
  .nice-select.right {
    float: right; }
    .nice-select.right .list {
      left: auto;
      right: 0; }
  .nice-select.small {
    font-size: 12px;
    height: 36px;
    line-height: 34px; }
    .nice-select.small:after {
      height: 4px;
      width: 4px; }
    .nice-select.small .option {
      line-height: 34px;
      min-height: 34px; }
  .nice-select .list {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
    box-sizing: border-box;
    margin-top: 4px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    -webkit-transform-origin: 50% 0;
        -ms-transform-origin: 50% 0;
            transform-origin: 50% 0;
    -webkit-transform: scale(0.75) translateY(-21px);
        -ms-transform: scale(0.75) translateY(-21px);
            transform: scale(0.75) translateY(-21px);
    -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9; }
    .nice-select .list:hover .option:not(:hover) {
      background-color: transparent !important; }
  .nice-select .option {
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
    .nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
      background-color: #f6f6f6; }
    .nice-select .option.selected {
      font-weight: bold; }
    .nice-select .option.disabled {
      background-color: transparent;
      color: #999;
      cursor: default; }

.no-csspointerevents .nice-select .list {
  display: none; }

.no-csspointerevents .nice-select.open .list {
  display: block; }
.bootstrap-select {
    border-radius: 15px 0 0 15px;
    border-style: none solid none none;
    border-width: 0 1px 0 0;
    color: #777777;
    font-size: 13px;
    height: 25px;
    line-height: 25px;
    margin: 0;
    width: 150px;
    border: none;
}
.list li{
    display: block!important;
    padding: 0px 15px!important;
}
.dropdown-menu.show {
    top:14px!important;
}
.delete {
    cursor: pointer;
}
.ck-editor__editable {min-height: 295px;}
.input-group:not(.input-line) {
    border:none!important;
}
.submit-update-avatar {
    background: orange;
    color: #fff;
    border-radius: 4px;
    border: none;
    box-shadow: 1px 1px 1px #4c4c4c;
}
.btn-primary:hover, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #ffffff;
    background-color: #fe7501;
    border-color: #fe7501;
}
.btn-primary{
    color: #ffffff;
    background-color: #fe7501;
    border-color: #fe7501;
}
.number-of-review{
    padding: 5px 9px;
    border-radius: 50%;
    background: #fd7802;
    color: #fff;
}
.select2-selection--multiple{
    height: 100%;
}
.bottom-header-left-admin{
    width:40%;
}
.select2-selection--multiple .select2-selection__choice {
    color: #020202;
}
.select2-selection--multiple .select2-selection__choice:hover {
    color: #020202;
}
.name-member{
    padding: 5px;
    background: #cdcdcda3;
    margin-right: 4px;
    margin-bottom: 4px;
    display: inline-block;
}
.red{
    color:red;
}
.schedule-menu ul{
    display: flex;
    width: 100%;
    list-style: none;
    padding:0px;
    background: #d4d4d4;
}
.schedule-menu ul li a span{
    display:block;
    text-align: center;
}
.schedule-menu ul li a img{
    width: 60px;
}
.schedule-menu ul li{
    padding: 10px 20px 0px;
}
.schedule-menu ul li a:hover{
    cursor: pointer;
}
.ver-top{
    vertical-align: top;
}
.button-next,.button-prev{
    padding: 8px 15px 0px 13px;
    border: 1px solid #cccccc;
    background: #ececec;
}
.button-next i,.button-prev i{
    color: #333;
    font-size: 25px;
}
.pdr10{
    padding-right:10px;
}
.pdl10{
    padding-left: 10px;
}
.dashboard {
    margin-top: 15px;
    border: 1px solid #4c4854;
    background-color: #fcfcfc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 5px 1px #99988e;
    -moz-box-shadow: 0px 0px 5px 1px #99988e;
    box-shadow: 0px 0px 5px 1px #99988e;
}
.dashboardHeader {
    font-size:18px;
    padding: 5px 20px;
    color: #fff;
    background-color: #58545d;
}
.dashboardContent{
    margin-top:20px;
}
.table-content{
    margin-top:14px;
}
.pull-left {
    float: left!important;
}
.pull-right {
    float: right!important;
}
.dashboardHeader a {
    color: #fff;
}
.modal-body .container-fluid .transfer-double {
    margin:0 auto;
}
.select2-search--dropdown:after {
    left: 90%;
}
.nav-link {
    word-spacing: 0px;
    letter-spacing: 0px;
}
.nav-tabs{
    background: #7c7c7c;
}
.nav-tabs .nav-item{
    color: #fff;
}
.fc-scroller{
    height:100%!important;
}
@media (min-width: 1600px) and (max-width:1900px){
   .slide-member {
        position: absolute;
        top: 10%;
        right: 8%;
        line-height: 50px;
        width: 45%;
    }
}
@media (max-width: 1350px){
   .slide-member {
        position: absolute;
        top: 9%;
        right: 2%;
        line-height: 42px;
        width: 50%;
    }
}
@media (min-width: 1200px) and (max-width: 1440px){
    .table-slider td {
        padding: 0 12px;
    }
    .table-slider td {
        font-size: 15px;
    }
}
@media (min-width: 1600px) and (max-width: 1680px){
    .first-ul{
        padding-left: 19px!important;
        list-style: disc!important;
    }
    .text-sidebar ul{
        padding-left: 0px;
        list-style: none;
    }
    .full-name-member{
        display: inline-flex;
        width: 106px;
    }
}
@media (min-width: 1200px) and (max-width: 1440px){
    .nav-pills a img {
        padding: 0px 16px 0px 10px;
    }
    .nav-pills a span {
        right: 33px;
    }
    .text-sidebar {
        padding-left: 0px;
    }
    .button-create a:first-child {
        font-size:18px;
    }
    .button-create a:first-child i {
        min-width: 40px;
        font-size: 22px;
        text-align: center;
        color: #fd7700;
    }
    .text-sidebar ul{
        padding-left: 0px;
        list-style: none;
    }
    .first-ul{
        padding-left: 19px!important;
        list-style: disc!important;
    }
    .full-name-member{
        display: inline-flex;
        width: 106px;
    }
    .bottom-header-left-admin {
        width: 32%;
    }
    .table-content a span {
        color: #333;
    }
    .nav.flex-column .nav-link {
        padding:0px;
    }
    .ul-notification {
        position: absolute;
        right: 168px!important;
        top: 14px;
    }
}
