.top-header {
    min-height: 18px;
}
.top-header-left {
    float: left;
    width: 80%;
    line-height: 12px;
    /* height: 8px; */
}
marquee{
    line-height: 18px;
    font-size: 10px;
}
.bottom-header {
    min-height: 59px;
}
.bottom-header-left {
    width: 30%;
    height: 59px;
    float: left;
}
.bottom-header-right {
    float: right;
    display: flex;
    line-height: 59px;
}
.logo-header {
    line-height: 64px;
}
.content-section {
    padding-top: 1rem;
}
.slider {
    height: auto;
}
.ig-carousel .tab-content {
    padding:0px!important;
}
.top-footer {
    height: 85px;
}
.footer h6 {
    margin: 2px;
    background: #333;
    color: #fff;
    font-size: 8px;
    padding: 0px 0px;
    border-bottom: 1px solid #333;
}
.footer .nav .nav-link {
    border-bottom: 1px solid #333;
    margin: 0 15px;
    padding: 0px 0;
    font-size: 6px;
}
footer marquee {
    line-height: 34px;
    text-align: right;
    float: right;
    margin-right: 15px;
    font-size: 10px;
}
.bottom-footer {
    height: 30px;
    line-height: 30px;
    border-top: 2px solid #fd7700;
}
.content-section h5 {
    font-size: 12px;
}
.dropdown-toggle::after {
    display:none;
}
.box-choose p{
    font-size: 12px;
}
.box-choose h4{
    font-size: 16px;
}
.box-choose .col-md-4{
    height:94px;
}
.go-box {
    padding: 2px 10px;
    font-size: 12px;
    margin-bottom: 15px;
}
.box-choose {
    padding: 8px 12px;
    border: 1px solid;
    box-shadow: 3px 3px #fd7600c2;
}
.welcome-home h3{
    font-size: 20px;
}
.welcome-home p{
    font-size: 12px;
}
.bottom-header-right .form-control{
    padding:0px;
}
.bottom-header-right .form-control{
    height: calc(1.8rem + 0px)!important;
    width:80px;
    font-size: 10px;
}
#log_member {
    top: 24%!important;
    right: 0px!important;
    width: 242px;
    margin-right: 0px;
    background: #fff;
    left: -145px!important;
}
.bottom-header-right button {
    height: 30px;
    line-height: 5px;
    font-size: 14px!important;
    border-radius: 4px;
}
#log_notification{
    top: 22%!important;
    right: 0px!important;
    width: 300px;
    margin-right: 0px;
    background: #fff;
    left: -85px!important;
}
#log_message{
    transform: none!important;
    top: 84%!important;
    left: -133px!important;
    width: 300px;
    margin-right: 0px;
    background: #fff;
}
#page{
    width:100%;
}
.ul-notification {
    position: absolute;
    right: 12px!important;
    top: 10px;
}
.ul-notification li a i {
    font-size: 18px;
    color: #fff;
}
#count-notification {
    top: -14px;
    right: -12px;
}
.bottom-header-right ul li {
    display: inline-block;
    padding: 10px 8px;
    position:relative;
}
.img-avatar{
    text-align: center;
}
.content-log-member h4{
    font-size: 20px;
}
.fl50 {
    width: 38%;
    margin-left: 34px;
    float: left;
    font-size: 12px;
}
.button-member-log a {
    border: 1px solid;
    border-radius: 22px;
    color: #333;
    margin: 6px 0px;
    font-size: 13px;
    background: #f5f7f7;
    color: #fff;
    background: #fe7701;
}
.content-log-member {
    padding: 0px;
}
.table-content tr td:first-child {
    padding-left: 15px;
    width: 50px;
}
.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #042331;
  transition: all 0.5s ease;
   z-index:1000;
   background: #f0f0f0;
}
.sidebar.open{
    left:0px;
    top:0px;
}
.nav-pills a img {
    padding: 0 18px 0 0px;
}
.text-sidebar {
    padding-left: 10px;
}
.nav-pills a img {
    padding: 0 10px 0 0px;
}
.nav-mobile a img {
    padding: 0 10px 0 0px;
}
.nav-mobile .nav-link {
    padding-left: 0px;
    padding-right:0px;
}
.sidebar-left{
    display:flex;
    margin-top:20px;
}
.list-style{
    list-style: none;
    padding-left:20px;
}
.close-sidebar{
    position: relative;
    top: -15px;
    right: -26px;
    height: 28px;
    border-radius: 10px;
    padding:0px!important;
    min-width: 20px!important;
}

.close-sidebar i{
    min-width: 56px;
    font-size: 25px;
    right: 10px;
}
.button-create a:first-child i {
    min-width: 45px;
    font-size: 20px;
    text-align: center;
    color: #fd7700;
}
.project-content h4{
    font-size:20px;
}
#info_member h3{
    font-size:18px;
    margin-bottom:0px;
    padding-top:4px;
}
#info_member p{
    font-size:14px;
}
#info_member img{
    height:140px;
    object-fit: contain;
}
.check-member .form-check{
    padding-top:15px;
}
.check-member .form-group{
    margin-top:5px;
}
.fillter-project ul {
    display: flex;
    padding: 0px;
    width: 100%;
    overflow: auto;
}
.fillter-project ul li {
    min-width: 145px;
    font-size:14px;
    padding:0px;
}
#page_member {
    padding-right: 10px;
    padding-left: 0px;
}
.table-member{
    margin-top: 5px;
    width: 100%;
    overflow: auto;
    display: block;
}
.table-approved tbody tr td {
    padding: 0px 6px;
}
.zoom {
  position: fixed;
  bottom: 45px;
  right: 24px;
  height: 70px;
}

.zoom-fab {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  background-color: #fe7701;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  transition: 0.2s ease-out;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: #FFF;
}

.zoom-fab:hover {
  background-color: #fe7701;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.zoom-btn-large {
  width: 60px;
  height: 60px;
  line-height: 60px;
}

.zoom-menu {
  position: absolute;
  right: 70px;
  left: auto;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: 500px;
  list-style: none;
  text-align: right;
}

.zoom-menu li {
  display: inline-block;
  margin-right: 10px;
}

.zoom-card {
  position: absolute;
  right: 150px;
  bottom: 70px;
  transition: box-shadow 0.25s;
  padding: 24px;
  border-radius: 2px;
  background-color: #009688;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  color: #FFF;
}

.zoom-card ul {
  -webkit-padding-start: 0;
  list-style: none;
  text-align: left;
}
.zoom-btn-person { background-color: #ffffff; }

.zoom-btn-person:hover { background-color: #ffffff; }

.zoom-btn-doc { background-color: #ffffff; }

.zoom-btn-doc:hover { background-color: #ffffff; }

.zoom-btn-tangram { background-color: #ffffff; }

.zoom-btn-tangram:hover { background-color: #81c784; }

.zoom-btn-report { background-color: #ffffff; }

.zoom-btn-report:hover { background-color: #64b5f6; }

.zoom-btn-feedback { background-color: #9c27b0; }

.zoom-btn-feedback:hover { background-color: #ba68c8; }
.scale-transition { transition: transform 0.3s cubic-bezier(0.53, 0.01, 0.36, 1.63) !important; }

.scale-transition.scale-out {
  transform: scale(0);
  transition: transform 0.2s !important;
}

.scale-transition.scale-in { transform: scale(1); }
.chat-head > h6 {
    display: inline-block;
    font-weight: 500;
    margin: 0;
    vertical-align: top;
    background: none!important;
    border: none!important;
    font-size:16px;
}
.cke_dialog_ui_input_text input{
    height: 22px!important;
}
legend {
    font-size:18px;
}
p {
    margin-bottom: 5px;
}
#show_list_project{
    padding-left:0px;
}
.table-approved{
    margin:0 auto;
}
.div-choose{
    width: 100%;
    display: flex;
    color: #333;
}
.ul-notification {
    top: -9px;
}
.table-slider th {
    padding: 0 5px;
    color: black;
}
.slide-member h5 {
    margin-left: 15px;
    color: black;
    font-size:12px;
}
.table-slider th {
    font-size:8px;
}
.table-slider th {
    font-size:8px;
}
.table-slider td {
    padding: 0 5px;
    font-weight: 400;
    color: black;
    font-size: 6px;
}
.last-table-slider{
    line-height: 20px;
}
.slide-member {
    position: absolute;
    top: 8%;
    right: 2%;
    line-height: 10px;
    width: 50%;
}
.table-slider td span.active {
    padding: 4px 5px;
    border-radius: 50%;
    background: #fd7700;
    color: #fff;
}
.table-slider td span {
    padding: 4px 5px;
    border-radius: 50%;
    background: #333;
    color: #fff;
}
.slider-carousel .owl-dots {
    padding-top:0px;
}
.owl-dots .owl-dot span {
    background: #969ba0;
    width: 5px;
    height: 5px;
}
.slide-member h5 {
    margin-left: 10px;
    color: black;
    font-size: 12px;
    margin-bottom: 3px;
}
.bottom-header-right ul {
    padding-bottom: 4px;
}
.owl-dots .owl-dot span {
    background: #969ba0;
    width: 5px;
    height: 5px;
    margin: 4px 5px;
}
@media (width:540px){
    .bottom-header-right {
        padding-left: 85px;
    }
}
@media (width:480px){
    .bottom-header-right {
        padding-left: 44px;
    }
}

@media (width:360px){
    .bottom-header-right {
        padding-left: 25px;
    }
}
@media (width:384px){
    .bottom-header-right {
        padding-left: 32px;
    }
}
@media (width:375px){
    .box-choose .col-md-4 {
        height: 100px;
    }
    .table-approved tbody tr td {
        padding: 0px 6px;
        font-size: 14px!important;
    }
    .bottom-header-right {
        float: right;
        display: flex;
        line-height: 59px;
        padding-left: 30px;
    }
}
@media (min-width:320px) and (max-width:400px){
    .bottom-header-right .form-control {
        height: calc(1.8rem + 0px)!important;
        width: 70px;
        font-size: 10px;
    }
    .bottom-header-right button {
        padding:0 10px;
    }
    .box-choose .col-md-4{
        width: 35%!important;
    }
    .box-choose .col-md-8{
        width: 65%!important;
        padding-left: 25px!important;
        padding-right: 0px;
    }
    .form-create {
        border: 1px solid #fe7702;
        padding: 15px;
    }
    .table-approved tbody tr td {
        padding: 0px 6px;
        font-size: 12px;
    }
    .ul-action-project-view li:first-child a {
        padding: 10px 15px;
        background: #bfbfbf;
        color: #333;
    }
    .ul-action-project-view li:first-child {
        padding-left: 0px;
    }
    #show_page_member{
        padding-left:0px;
    }
    
}
.overlay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(255,255,255,0.8) url("/public/img/loadding.gif") center no-repeat;
}
/* Turn off scrollbar when body element has the loading class */
body.loading{
    overflow: hidden;   
}
/* Make spinner image visible when body element has the loading class */
body.loading .overlay{
    display: block;
}
.table-project .datatable-header{
    display: flex;
    padding: 0px;
}
.dataTables_paginate.paging_simple .paginate_button {
    padding-left: 0px;
    padding-right: 0px;
}
.dataTables_info {
    margin-bottom: 0px;
}
.dataTables_paginate{
    margin: 0px;
}
.fillter-project ul li {
   text-decoration: none;
}
.fillter-project ul li {
    border: 1px solid #cbcbcb;
    margin: 0 4px;
}
.fillter-project ul li {
    min-width: 136px;
}
fieldset {
    border: 1px solid #fd7802;
    padding: 8px 20px;
    border-radius: 5px;
}
.top-user tbody tr td p {
    margin-bottom: 2px;
}
.table td {
    padding: 5px;
}
.zoom-btn-large {
    width: 45px;
    height: 45px;
    line-height: 45px;
}
.table-approved {
    margin: 0;
}
h5, .h5 {
    font-size: 16px;
}
h4, .h4 {
    font-size: 20px;
}